<ion-view view-title="module list">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-circled" ng-click="create()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="list in listModules" >
        {{list.nombre}}

        <ion-option-button class="ion-edit" ng-click="update({{list}})"  >
        </ion-option-button>
        <ion-option-button class="ion-clipboard" ng-click="">
        </ion-option-button>
        <ion-option-button class="ion-trash-a" ng-click="">
          </ion-delete-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
