<ion-view view-title="submodule list">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-plus-circled" ng-click="create()">
    </button>
    <button class="button button-icon button-clear ion-close-circled" ng-click="showDelete()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="list in listModules">
        {{list.nombre}}

        <ion-option-button class="ion-edit" ng-click="update({{list}})">
        </ion-option-button>
        <ion-option-button class="ion-clipboard" ng-click="">
        </ion-option-button>
        <ion-delete-button class="ion-close-circled" ng-click="delete({{list.id}}); listModules.splice($index, 1)">
        </ion-delete-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
